# Local configuration files
/*.yaml

# Local database
*.sqlite3

# Local audio
audio_cache/
*.wav
*.mp3
*.m4a
*.mp4
*.aac

# vscode
.vscode/launch.json


# Local voice samples
voice_samples/

# Local models
pretrained_models/

# Captures
captures/

# APN certificates
*.p12
*.pem
*.p8

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# MacOS
.DS_Store

# Windows
*.bat

# Xcode
## User settings
xcuserdata/
project.xcworkspace/xcuserdata/
IDEWorkspaceChecks.plist
workspace.xcworkspace/

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

# CocoaPods
Pods/
*.xcworkspace

# Carthage
Carthage/Build

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Code Injection
*.dynamic
*.dylib
inject_derived

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk